*{
    color: #999;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
  width: 500px;
  min-height: 356px;
  max-height: 356px;
}

header #goUser {
  border: none;
  outline: none;
  cursor: pointer;
  border-left: 1px #1AA7B5 dotted;
  background: inherit;
  float: right;
  margin-top: 14px;
  margin-right: 15px;
}

header {
  margin-bottom: 20px;
  height: 66px;
}

header > img {
  display: inline-block;
  margin-left: 22px;
}

header #createProject {
  float: right;
  background-color: #1AA7B5;
  border: none;
  color: white;
  margin: 16px 30px 18px 10px; !important
  cursor:pointer;
}

header #createProject:hover {
  color:white !important;
}

.container{
  background-color: #f3f3f3;
}

.btn-div{
  margin-top: 25px;
  padding-bottom: 25px;
}
.btn{
  background-color: #1AA7B5;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 0;
}

.btn:focus {
  color:white;
}

.btn:hover{
  background-color: #147D88;
  color:white;
}

.btn-primary {
  background-color: #E5E5E5;
  color: #999999;
  padding: 10px 15px 10px 15px;
}

h4 + div  {
  padding-right: 0px !important;
}

.right {
  float: right;
}

footer {
  text-align: center;
  width: 100%;
  color: #808184;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer a{
  color: #c5cdcb;  color: #808184;
  padding-top: 10px;
}

#online_offline {
	margin-left: 22px;
	padding-top: 10px;
}

#loading {
  width: 18%;
  margin 0 auto;
  height:
}

