.projects-view{
   min-height: inherit;
   padding-left: 0px!important;
   padding-right: 0px;
}
.projects-view h4{
  padding-top: 5px;
  padding-bottom: 5px;
}
.col-md-12, col-xs-12{
  padding-left: 0px;
  padding-right: 0px;
}

.projects-container h3, h4{
  text-align: center;
  color: #808080;
  font-weight: 100;
}

.circle{
  border-radius: 15%;
  width: 10px;
  height: 10px;
}
.icon-success{
  background-color:#80b984;
}
.icon-ok{
  background-color: #4f81ae;
}
.icon-danger{
  background-color: #cb8184;
}

.icon-attention{
  background-color: #f2f302;
}

.projects-table{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.projects-table tr{
  border-bottom: 1px solid #C5CDCB;
  border-top: 1px solid #C5CDCB;
}

.projects-table tr:hover{
  background-color: #eaeaea;
}
.projects-table tr:last-child{
  border-top: 1px solid #C5CDCB;
  border-bottom: none;
}
.projects-table td:first-child{
  padding-left: 15px;
}

.td-project-name{
  max-width: 195px;
}
.projects-table .info{
  padding-top: 10px;
  text-align: center;
}

.projects-table .info p{
  font-size: 10pt;
  font-weight: bold;
}

.projects-table .info span{
  font-size: 8pt;
  color: #999;
}

.btn-project-name{
  border:none;
  background: none;

  outline:none;
}

.info {
  display: inline-block;
  border-right: 1px solid;
  border-color: #C5CDCB;
  padding: 0px 25px 10px 25px;

}

.projects-table td:last-child{
  border-right: none;
}


.loading {
  vertical-align:middle;
  text-align:center;
  position: relative;
  top: 10.5em;
  left: -7.5em;
  margin-bottom: 300px;
  margin-left: 230px;
}
