    <link rel="stylesheet" href="css/chart.css" media="screen" title="no title">
      <header>
        	<button ng-click="createProject()" ui-sref="create" class="btn"> Create a Project</button>
    	<img src="img/metrics_logo.png">
    </header>

<div ng-controller="chartsController" id="project-view" class="view container">
  <h4 class="viewTitle">{{dProject.projectName}}</h4>
<div class="metrics-container">
  <ul class="authorship-metrics-indicators">
    <li>
      <img src="img/time.png" alt="">
      <p class="authorship-metrics-indicators-title">{{dProject.time}}h</p>
      <p class="authorship-metrics-indicators-description">TIME SPENT</p>
    </li>
    <li>
      <img src="img/word_count.png" alt="">
      <p class="authorship-metrics-indicators-title">{{dProject.words}}</p>
      <p class="authorship-metrics-indicators-description">WORDS WRITTEN</p>
    </li>
    <li>
      <img src="img/milestone.png" alt="">
      <p class="authorship-metrics-indicators-title">{{dProject.milestone.percentage}}%</p>
      <p class="authorship-metrics-indicators-description">{{dProject.milestone.words || dProject.milestone.deadline.replace("/20", "/")}} WORDS PER DAY</p>
    </li>
  </ul>
  <canvas id="myChart" width="400" height="200"></canvas>
  <div id="controls">
    <button class="btn btn-primary" id="start" ng-click="startMeasuring()" ><img src="img/start.png">Start</button>
    <button class="btn btn-primary" id="pause" ng-click="stopMeasuring()" ><img src="img/pause.png">Pause</button>
     <button class="btn btn-primary" id="chartsBack" ui-sref="projects">Back</button>
<!--    <button class="btn btn-primary" id="stop" ng-click="stopMeasuring()" ><img src="img/stop.png">Finish</button> -->
  </div>
  </div>
</div>
