<!DOCTYPE html>
<html ng-app="pjApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>Metric Projects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/projects.js" type="text/javascript"></script>
    <script src="js/metricsApi.js"></script>
  </head>

  <body ng-controller="pjCtrl" ng-init="addProject()">
    <header>
    	<h1>Metrics</h1>
    	<span>by Authorship</span>
    	<button ng-click="createProject()" ng-hide="page == 2"> Create Project</button>
    </header>

    <div class="projects-container animate-show col-md-4 col-sm-12 col-xs-12" ng-show="page ==2">
      <h4>Create Project</h4>
      <div class="col-md-12 col-xs-12">
        <div class="cpj-form col-md-10 col-md-offset-1 col-xs-12">
          <form>
            <div class="form-group">
              <label for="project-title">Title</label>
              <input type="text" class="form-control" id="project-title" ng-model="project.projectName">
              <div class="bg-danger">
                <span class="glyphicon glyphicon-exclamation-sign"></span>  Empty field
              </div>
            </div>
            <div class="form-group">
              <label for="total-words">Total number of words</label>
              <input type="number" class="form-control" id="total-words" ng-model="project.totalWords">
              <div class="bg-danger">
                <span class="glyphicon glyphicon-exclamation-sign"></span>  Empty field
              </div>
            </div>
            <div class="form-group">
              <label for="milestone">Milestone</label>
              <select class="form-control" name="milestone" id="milestone" ng-model="selectMilestone">
                <option value="wDay">Words per Day</option>
                <option value="wMonth">Words per Month</option>
                <option value="deadline" ng-selected="true">Deadlines</option>
              </select>
              <div class="bg-danger">
                <span class="glyphicon glyphicon-exclamation-sign"></span>  Empty field
              </div>
            </div>
              <div class="form-group" ng-hide="datepickerShow">
                <label for="many-words">{{period}} ? </label>
                <input type="number" class="form-control" id="many-words" ng-model="project.milestoneMeasure">
                <div class="bg-danger">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>  Empty field
                </div>
              </div>
              <div class="form-group" ng-show="datepickerShow">
                <label for="deadline">{{period}} ? </label>
                <input type="date" class="form-control" id="deadline" ng-model="deadlineDate">
                <div class="bg-danger">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>  Empty field
                </div>
              </div>
              <div class="center btn-div col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <button class="btn btn-primary btn-block" ng-model="page" ng-click="addProject(project)">Create Project
              </div>
          </form>
        </div>
      </div>
    </div>


    <!---Projects Page----------------------------------------------------------------------->

    <div class="projects-container animate-show col-md-4 col-xs-12" ng-show="page ==1">
      <h4>Recently</h4>
      <div class="col-md-12 col-xs-12 projects-table">

        <table class="table">
          <tr ng-repeat="projects in projectsList">

        <table class="table" id="projectInfo">
          <tr ng-repeat="projects in projectsList">

            <td class="td-icon middle">
              <div class="circle icon-success icon"></div>
            </td>
            <td class="middle">
              <button type="button" class="btn-project-name" ng-click="openProject()">{{projects.projectName}}</button>
            </td>
            <td class="middle center border"><p>{{projects.milestone.percentage}}%<br>COMPLETE</p></td>
            <td class="middle center"><p><br>{{projects.milestone.words}}<br>Words</p></td>
          </tr>
        </table>
      </div>
    </div>

<div class="projects-container animate-show col-md-4 col-xs-12" ng-show="page ==3">
  <div id="projectView" class="view">
    <h1 class="viewTitle">Project name</h1>
    <div id="projectInfo">
      <div class="info">
        <p>2:30</p>
        <span class="legend">TIME SPENT</span>
      </div>
      <div class="info">
        <p>100</p>
        <span class="legend">WORDS</span>
      </div>
      <div class="info">
        <p>10%</p>
        <span class="legend">COMPLETED</span>
      </div>
      <div class="info">
        <p>1000</p>
        <span class="legend">MILESTONES</span>
      </div>
    </div>
    <div id="graph"> </div>
  </div>

<!-- this should be the last thing the html file -->
  <script src="js/graph.js"></script>
</div>


  </body>
</html>
