<!DOCTYPE html>
<html ng-app="pjApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>Metric Projects</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/projects.js" type="text/javascript"></script>
    <script src="js/metricsApi.js"></script>
  </head>

  <body ng-controller="pjCtrl" ng-init="showProjects()">
    <header>
        	<button ng-click="createProject()" ng-hide="page == 2 || page == 0" class="btn btn-primary"> Create Project</button>
    	<img src="img/metrics_logo.png">
    </header>

    <div class="projects-container animate-show col-md-12 col-sm-12 col-xs-12" ng-show="page ==2">
      <h4>Create Project</h4>
      <div class="col-md-12 col-xs-12">
        <div class="cpj-form col-md-10 col-md-offset-1 col-xs-12">
          <form>
            <div class="form-group">
              <label for="project-title">Title</label>
              <input type="text" class="form-control" id="project-title" ng-model="project.projectName" ng-blur="validationPjName()">
              <div class="bg-danger" ng-show="pjNameShow">
                <span class="glyphicon glyphicon-exclamation-sign"></span>  Empty field
              </div>
            </div>
            <div class="form-group">
              <label for="total-words">Total number of words</label>
              <input type="number" class="form-control" id="total-words" ng-model="project.totalWords" ng-blur="validationTotalWords()">
              <div class="bg-danger" ng-show="tWordsShow">
                <span class="glyphicon glyphicon-exclamation-sign"></span>  Please, put a number greater than 0.
              </div>
            </div>
            <div class="form-group">
              <label for="milestone">Milestone</label>
              <select class="form-control" name="milestone" id="milestone" ng-model="project.selectMilestone">
                <option value="wDay">Words per Day</option>
                <option value="wMonth">Words per Month</option>
                <option value="deadline" ng-selected="true">Deadlines</option>
              </select>
            </div>
              <div class="form-group" ng-hide="datepickerShow">
                <label for="many-words">{{period}} ? </label>
                <input type="number" class="form-control" id="many-words" ng-model="project.milestoneMeasure" ng-blur="validationMeasure()">
                <div class="bg-danger" ng-show="measureShow">
                  <span class="glyphicon glyphicon-exclamation-sign"></span>  Please, put a number greater than 0.
                </div>
              </div>
              <div class="form-group" ng-show="datepickerShow">
                <label for="deadline">{{period}} ? </label>
                <input type="date" class="form-control" id="deadline" ng-model="project.milestoneMeasure" ng-blur="validationDate()">
                <div class="bg-danger" ng-show="deadlineShow">
                  <span class="glyphicon glyphicon-exclamation-sign"></span> Invalid date.
                </div>
              </div>
              <div class="center btn-div col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <button class="btn btn-primary btn-block" ng-model="page" ng-click="addProject()" ng-disabled="validationMaster">Create Project</button>
              </div>
          </form>
        </div>
      </div>
    </div>


    <!---Projects Page----------------------------------------------------------------------->

  <div class="projects-container col-md-12 col-xs-12" ng-show="page ==1" ng-init="projectStatus()">
    <h4>Recently</h4>
    <div class="col-md-12 col-xs-12">
      <table class="col-md-12 col-xs-12 projects-table" id="projectInfo">
          <tr ng-repeat="projects in projectsList">
          <td class="">
            <div ng-class="projectStatus()"></div>
          </td>
          <td class="td-project-name">
            <button type="button" class="btn-project-name" ng-click="openProject(projects)">{{projects.projectName}}</button>
          </td>
          <td class="info">
            <p>{{projects.milestone.percentage}}%</p>
            <span class="legend">COMPLETE</span>
          </td>
          <td class="info">
            <p>{{projects.milestone.words}}</p>
            <span class="legend">WORDS</span>
          </td>
          <td class="info">
            <p>{{projects.milestone.measure}}</p>
            <span class="legend">MILESTONE</span>
          </td>
        </tr>
      </table>
    </div>
  </div>

<!--chart page -->
<div class="" ng-show="page ==3">
<div id="projectView" class="view">
  <h1 class="viewTitle">{{dProject.projectName}}</h1>
  <div id="projectInfo">
    <div class="info">
      <p>{{dProject.time}}h</p>
      <span class="legend">TIME SPENT</span>
    </div>
    <div class="info">
      <p>{{dProject.milestone.words}}</p>
      <span class="legend">WORDS</span>
    </div>
    <div class="info">
      <p>{{dProject.milestone.percentage}}%</p>
      <span class="legend">COMPLETED</span>
    </div>
  </div>
  <div id="graph"> </div>
  <div id="controls">
    <button class="btn btn-primary" ng-click="startMeasuring()" >Start Measuring</button>
    <button class="btn btn-primary" ng-click="stopMeasuring()" >Pause Measuring</button>
    <button class="btn btn-primary" ng-click="stopMeasuring()" >Stop Measuring</button>
  </div>
  </div>    
</div>

<!-- this should be the last thing the html file -->
  <script src="js/graph.js"></script>
</div>

<!--empty project page-->
    <div class="empty-page" ng-show="page==0">
      <div class = "title">
        <h1>Welcome!</h1>
      </div>
      <h2>
        To start using
      </h2>
        <h1><span>Metrics</span></h1>
         press <br>
       <button class="btn btn-primary" ng-model="page" ng-click="createProject()">Create Project</button>
       <p>
         to create your next
       </p>
       <h3>Masterpiece!</h3>
    </div>
  </body>
</html>
