<div class="projects-container col-md-12 col-xs-12" ng-controller="projectsController" ng-init="showProjects()">
  <h4>Recently</h4>
  <div class="col-md-12 col-xs-12">
    <table class="col-md-12 col-xs-12 projects-table" id="projectInfo">
        <tr ng-repeat="projects in projectsListView">
        <td class="">
          <div ng-class="projectStatus(projects)"></div>
        </td>
        <td class="td-project-name">
          <button type="button" class="btn-project-name" ng-click="sendProject(projects) " ui-sref="charts">{{projects.projectName}}</button>
        </td>
        <td class="info">
          <p>{{projects.milestone.percentage}}%</p>
          <span class="legend">COMPLETE</span>
        </td>
        <td class="info">
          <p>{{projects.words}}</p>
          <span class="legend">WORDS</span>
        </td>
        <td class="info">
          <p>{{projects.milestone.words || projects.milestone.deadline.replace("/20", "/")}}</p>
          <span class="legend">{{(projects.milestone.type === "deadline") ? "DEADLINE" :  (projects.milestone.type === "wDay") ? "DAILY": "MONTHLY" }}</span>
        </td>
      </tr>
    </table>
  </div>
  <button id="seeAll" ng-click="seeAllProjects()">MoreProjects[+]</button>

</div>
